
.cv {
   width: 300px;
   height: auto;
   margin: auto;
   padding: 10px;
   border: 1px solid gold;
}

.cv > .wrap {
   text-align: center;
}
.cv > .wrap >img {
  width: 100px;
  border-radius: 50%;
  border: 3px solid gold;
 
}