
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

.header {
    background: #42495b;
    height: 61px;
    width: 100%;
}

.logo {
    color: white;
    font-size: 1.5em;
    line-height: 60px;
    margin-left: 10px;
    text-transform: uppercase;
}

.logo > img {
    width: 100px;
    height: 20px;
}

nav ul{
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #ebeced;
    font-size: 17px;
    padding: 7px 13px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.dropdown {
    line-height: 61px;
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 0 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #42495b;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

nav ul li a:hover {
    color: darkgrey;
}


.checkBtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}



.wrap > .bgImg {
    width: 100%;
    height: 91vh;
    background-color: #565656;
    background: url("./img/image-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.content-wrap {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.content-wrap h5 {
    color: #42495b;
}

.content-wrap > .content > .text{
    margin-top: 20px;
}

.img-content {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.img {
    margin: 10px;
}


.footerPan {
    background-color: #a1a2a6;
    padding: 30px;
}

.footerPan .footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footerPan .footer-logo {
    color: white;
}

.footerPan .footer-content div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.footerPan .footer , .footer-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
} 

.footerPan .footer-content {
    width: 200px; 
    display: flex; 
    justify-content: space-between;
} 

.footerPan .footer-container .title {
    color: white;
    padding-bottom: 15px;
}

.footerPan .p {
    padding-top: 10px;
}

.footerPan .footer-container  .p > a {
    text-decoration: none;
    color: white;
}

.footerPan .input {
    width: 200px; 
    height: 35px;
    padding: 5px;
    border: 2px solid white;
    outline: none;
    background-color: #a1a2a6;
}

.footerPan .input::placeholder{
    color: white;
}

.footerPan .btn {
    width: 200px;
    height: 35px;
    background-color: #a1a2a6;
    color: white;
}

.footerPan .map {
    width: 50%;
    margin-top: 30px; 
}

.footerPan .map iframe {
    width: 100%;
    height: 300px;
}




@media (max-width: 670px) { 
    .checkBtn{
        display: block;
    }

    .logo {
        color: white;
        font-size: 1.2em;
    }

    nav{
        height: 60px;
    }

    nav ul{
        width: 100%;
        background-color: #42495b;
        text-align: center;
        display: none;
    }

    nav ul li {
        display: block;
        float: left;
        width: 100%;
    }

    #check:checked ~ ul {
        display: block;
    }

    .img-content {
        flex-wrap: wrap;
        width: 100%;
    }

    .img > img {
        width: 100%;
    }

    .footerPan {
        flex-wrap: wrap;
        padding: 30px;
    }

    .footer{
        flex-wrap: wrap;
    }

}

@media (max-width: 550px) {
    .img {
        width: 100%;
    }

   .img > img {
       width: 100%;
   }

    .footerPan .footer {
       flex-wrap: wrap;
   }

   .footer{
        flex-wrap: wrap;
    }

   .footer-container {
       flex-wrap: wrap;
   }

   .footer-container div {
       width: 100%;
       margin-top: 30px;
   }

   .footerPan .input , .footerPan .btn , .footerPan {
       width: 100%;
   }

   .footerPan > .map {
       width: 100%;
   }
}

@media (max-width: 970px) {
     .img-content {
        flex-wrap: wrap;
        width: 100%;
    }

    .img > img {
        width: 100%;
    }

    .footer{
        flex-wrap: nowrap;
    }
}


