.registration{
    background-position: center;
    background-size: cover;
    background-color: rgb(68, 82, 82);
    max-width: 1100px;
    margin: 0 auto;
    width: 60%;
    margin-top: 25px;
    padding: 15px;
    text-align: left;
}
.main{
    display: flex;
}
.left{
    background-color: #dbdbdb;
    background-position: left;
    max-width: 1100px;
    width: 50%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

.text1{
    clear: both;
    max-width: 1100px;
    width: 50%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    color: #000;
}

.right{
    background-color: #dbdbdb;
    background-position: left;
    max-width: 1100px;
    width: 50%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

.text2{
    clear: both;
    max-width: 1100px;
    width: 50%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    color: #000;
}

h1, h3{
    color: rgb(2, 46, 90);
}
b{
    color: rgb(0, 0, 0);
}