
.card {
    width: 300px;
    text-align: center;
    border: 1px solid gold;
    margin: auto;
  }
  
.title {
    color: grey;
    font-size: 18px;
}
  
p > a {
    padding: 8px;
    color: white;
    background-color: gold;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
  }
  
a {
    text-decoration: none;
}
  