body {
    margin: 0;
    font-family: monospace;
    line-height: 1.5;
    font-size: 18px;
}

.card {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 15px #ccc;
    border-radius: 10px;
}

.photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.card_title {
    font-size: 20px;
    text-align: center;
}

.subtitle{
    font-size: 18px;
    text-align: center;
}

