#wrap {
    padding: 10px;
}

#container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#wrap > div {
    padding: 10px;
}

.active {
    transform: scale(1.1);
    transition: 1.5s;
}