body {
    font-family: sans-serif;
    padding-left: 30%;
    /* background: rgba(230, 200, 200, 0.3); */
    background-image: url("../img/cv-bg-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    width: 200px;
    height: 100px;
}

header h1 {
    text-align: center;
    padding-top: 15px;
}

section {
    display: flex;
}

img {
    border-radius: 100px;
    border-style: solid;
    border-color: rgb(145, 148, 148);
    margin-left: 10px;
}

.info {
    margin-left: 20px;
    padding-left: 30%;
}

footer a {
    background-color: rgb(192, 200, 206);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-style: solid;
    border-color: rgb(129, 133, 132);
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
}